@import "../../../../styles/table.scss";
@import "../../../../styles/table-buttons.scss";

.table-container {
    width: 900px;
    margin: 0 auto;
}

.system-button, .delete-button, .add-button {
    float: right;
}

.add-button {
    margin: 10px 25px 10px 0;
}
