@import "../../../../styles/table.scss";
@import "../../../../styles/table-buttons.scss";

.table-row {
    height: 56px;
}

.chosenDeliveryService {
    width: 250px;
}

.scheduleDate {
    width: 280px;
    &__text {
        padding: 5px 10px;
        background-color: #DBFDFF;
        border: 1px solid #B7FAFF;
        border-radius: 5px;
    }
}

.system-button, .delete-button {
    float: right;
}

svg { cursor: pointer; }