<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="destinationEmail">
            <th class="table-header" mat-header-cell *matHeaderCellDef>Кому</th>
            <td class="table-cell" mat-cell *matCellDef="let message">
                {{message.destinationEmail}}
            </td>
        </ng-container>
        <ng-container matColumnDef="theme">
            <th class="table-header" mat-header-cell *matHeaderCellDef> Тема </th>
            <td class="table-cell" mat-cell *matCellDef="let message"> {{message.theme ? message.theme : '<Без темы>'}} </td>
        </ng-container>
        <ng-container matColumnDef="chosenDeliveryService">
            <th class="table-header chosenDeliveryService" mat-header-cell *matHeaderCellDef>Выбранный сервис доставки</th>
            <td class="table-cell chosenDeliveryService" mat-cell *matCellDef="let message">
                {{message.chosenDeliveryService.deliveryServiceName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="scheduleDate">
            <th class="table-header scheduleDate" mat-header-cell *matHeaderCellDef>Запланированная дата отправки</th>
            <td class="table-cell scheduleDate" mat-cell *matCellDef="let message">
                {{message.scheduleDate ? message.scheduleDate : '<Отсутствует>'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="isSent">
            <th class="table-header" mat-header-cell *matHeaderCellDef>Статус доставки</th>
            <td class="table-cell" mat-cell *matCellDef="let message"> {{message.IsSent ? 'Доставлено': 'Не доставлено'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr class="table-row" mat-row *matRowDef="let myRowData; columns: tableColumns"></tr>
    </table>
    <mat-paginator
        [pageSizeOptions]="[10, 25, 50]"
        showFirstLastButtons>
    </mat-paginator> 
</div>