@import "../../../../styles/table.scss";
@import "../../../../styles/table-buttons.scss";

.table-row {
    height: 56px;
}

.chosenDeliveryService {
    width: 250px;
}

.scheduleDate {
    width: 280px;
}

.system-button, .delete-button {
    float: right;
}

svg { cursor: pointer; }