.menu-container {
    position: fixed;
    left: 0;
    top: 72px;
    width: 240px;
    height: 100vh;
    background-color: #34495e;
    color: #ffffff;
    text-align: center;
}

h2 {
    margin: 8px 0;
    padding: 0 0 12px 0;
    font-weight: 500;
    border-bottom: 1px solid #4e5e6d;
}

li {
    text-align: left;
    font-size: 18px;
    margin: 10px 30px;
    cursor: pointer;
    list-style-type: none; 
}
li:hover {
    color: #cbeaf0;
}
li:focus {
    outline: none;
}
.main-element {
    text-transform: uppercase;
}

.bi {
    margin: 0 4px -2px 0;
    width: 16px;
    height: 16px;
}